<section id="skills" class="relative py-32 px-4 sm:px-6">
  <div class="max-w-7xl mx-auto grid lg:grid-cols-2 gap-16 items-start">
    <div>
      <div class="text-xs uppercase tracking-[0.4em] neon-text-magenta mb-4">/// 004 — stack</div>
      <h2 class="font-display text-5xl lg:text-7xl uppercase font-black leading-none mb-8">
        protocolos<br /><span class="neon-text-yellow">ativos</span>
      </h2>
      <p class="text-muted-foreground max-w-md leading-relaxed"></p>
      <div class="mt-12 pt-8 border-t border-border">
        <div class="text-xs uppercase tracking-[0.4em] neon-text-cyan mb-6">
          /// credenciais_validadas
        </div>
        <div class="flex flex-wrap gap-6">
          <a
            href="https://www.credly.com/badges/f1140c7e-52b4-40c7-aad4-da7efa35fcdd/public_url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="aws-certified-cloud-practitioner.png"
              class="w-w-35 h-35 hover:-translate-y-2 hover:drop-shadow-[0_0_15px_var(--neon-cyan)] transition-all duration-300 cursor-pointer"
              title="AWS Certified Cloud Practitioner"
            />
          </a>

          <a
            href="https://www.credly.com/badges/d6cc92c6-da85-43f3-981f-e08e2eb0945d/public_url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="aws-certified-developer-associate.png"
              class="w-w-35 h-35 hover:-translate-y-2 hover:drop-shadow-[0_0_15px_var(--neon-magenta)] transition-all duration-300 cursor-pointer"
              title="AWS Certified Developer - Associate"
            />
          </a>

          <a
            href="https://www.credly.com/badges/087a725d-fe4c-4b48-986e-c3a4b51d169e/public_url"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="aws-certified-solutions-architect-associate.png"
              class="w-35 h-35 hover:-translate-y-2 hover:drop-shadow-[0_0_15px_var(--neon-yellow)] transition-all duration-300 cursor-pointer"
              title="AWS Certified Solutions Architect - Associate"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="space-y-5 font-mono">
      @for (s of skills; track s.name) {
        <div>
          <div class="flex justify-between text-sm uppercase tracking-widest mb-2">
            <span class="text-foreground">{{ s.name }}</span>
            <span class="neon-text-cyan">{{ s.lvl }}%</span>
          </div>
          <div class="h-1.5 bg-secondary border border-border relative overflow-hidden">
            <div
              class="absolute inset-y-0 left-0 bg-gradient-to-r from-neon-cyan to-neon-magenta"
              [style.width.%]="s.lvl"
              style="box-shadow: 0 0 10px var(--neon-cyan)"
            ></div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
